doctype html
html(lang="en")
  head
    title Users Page
    Link(rel="stylesheet" href="/css/all-users.css")     
  body
    h1 All Users List
    table
      thead
        tr
          th  Name
          
          th Branch
          th Role
      tbody
        if signins.length 
        each signin in signins
          tr
            td #{signin.theName}
           
            td #{signin.branch}
            td #{signin.role}
        else 
          p no users signed up yet