doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Pug
  style.
    .signup-form {
    max-width: 500px;
    margin: 70px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .signup-form label {
    display: block;
    margin-bottom: 10px;
    }
    .signup-form input[type="text"],
    .signup-form input[type="email"],
    .signup-form input[type="number"],
    .signup-form input[type="text"],
    .signup-form input[type="password"] {
    width: 450px;
    height: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    }
    .signup-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    }
    .signup-form input[type="submit"]:hover {
    background-color: #3e8e41;
    }
form.signup-form(action='/updateUser?id='+signin._id method='post')
  h2 Sign Up
  label(for='theName') Name:
  input#theName(type='text' name='theName' value = signin.theName)
  br
  br
  label(for='email') Email:
  input#email(type='email' name='email')
  br
  br
  label(for='mobileNumber') Mobile Number:
  input#mobileNumber(type='number' name='mobileNumber')
  br
  br
  label(for='branch') Branch:
  select#branch(type='text' name='branch')
    
    option(value="maganjo" selected = signin.branch === "maganjo") Maganjo 
    option(value="matugga" selected = signin.branch === "matugga") Matugga
  br
  br  
  label(for='role') Role:
  select#role(type='text' name='role')
  
    option(value="salesagent" selected = signin.role === "salesagent") Sales Agent
    option(value="manager" selected = signin.role === "manager") Manager
  br
  br
  label(for='password') Password:
  input#password(type='password' name='password' )
  br
  br
    
  
  input(type='submit' value='Sign Up')
  br
a(href='/login') Already have an account? login
    